.sources {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(23, 24, 28, 0.95);
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 2em 0;
  overflow: auto;
  padding-bottom: 1em;
  align-items: center;
  font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
  background: #17181c;
  border: 2px solid #bfbfbf;
  border-radius: 0.5em;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #bfbfbf;
  transition: 0.25s;
  cursor: pointer;
}

.source__item:first-child {
  margin-left: 0;
}

.source__item:last-child {
  margin-right: 0;
}

.source__item:hover,
.source__item:focus {
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
  transform: translateY(-0.25em);
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

.sources::-webkit-scrollbar {
  height: 0.5em;
  background: rgba(191, 191, 191, 0.3);
  border-radius: 0.5em;
}

.sources::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 0.5em;
}

.sources::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}

.sources::-webkit-scrollbar:vertical {
  display: none;
}
