.winners {
  padding: 0 24px;

  &__table {
    width: min(500px, 100%);
    font-size: 14px;
    margin: 12px 0 24px;
    order: 4;

    &__row {
      text-align: left;
      
      th, td {
        padding: 8px 16px 8px 0;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  &.hidden {
    display: none;
  }
}