$text-color-primary: #f5f5f4;
$text-color-secondary: #d6d3d1;
$bg-color-primary: #78716c;
$bg-color-secondary: #57534e;

$color-table: #f59e0b;
$color-circle: #ef4444;
$color-square: #0ea5e9;
$color-triangle: #16a34a;