$color-bg-start-screen1: #5B483A;
$color-bg-start-screen2: #262425;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-bg-footer1: #513D2F;
$color-bg-footer2: #1A1A1C;
$color-black: #000000;

$font-logo_title: 400 32px/1.1 "Georgia";
$font-logo_subtitle: 400 13px/1.15 "Arial";
$font-paragraph-l: 400 15px/1.6 "Arial";
$font-h2: 400 44px/1.3 "Georgia";
$font-h3: 400 35px/1.3 "Georgia";
$font-h3-mobile: 400 25px/1.3 'Georgia';
$font-h4: 400 20px/1.15 "Georgia";
$font-h5: 400 15px/1.1 "Georgia";
$font-button: 400 17px/1.3 "Georgia";
$font-donation: 400 italic 12px/1.5 'Arial';
$font-burger: 400 32px/1.6 'Arial';