$color-primary: #F1CDB3;
$color-bg-start-screen1: #5B483A;
$color-bg-start-screen2: #262425;
$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-light-s: #FAFAFA;

$font-logo_title: 400 32px/1.1 "Georgia";
$font-logo_subtitle: 400 13px/1.15 "Arial";
$font-paragraph-l: 400 15px/1.6 "Arial";