@import '../../assets/variables';

.car {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__buttons {
    display: flex;
    gap: 12px;
  }

  &__road {
    border-bottom: 1px dashed $bg-secondary;
    display: flex;
    gap: 12px;
    height: 48px;

    &__finish {
      margin-left: auto;
      margin-right: 56px;
      writing-mode: vertical-rl;
    }
  }

  &__icon {
    width: 48px;
    height: auto;
    display: flex;
    align-items: end;
    
    svg {
      margin-bottom: 4px;
    }
  }
}