@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import './assets/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px/1.5 'DM Sans', sans-serif;
  background: linear-gradient(90deg, $bg-secondary2, $bg-main);
  color: $text-main;
}

.section {
  margin-bottom: 40px;
}